.Profile-container > p{
  font-weight: 100;
  padding: 5px;
}

.Profile-container * {
  padding:5px;
}

.Profile-container > button{
  margin: 5px 2px;
  cursor: pointer;
  display: flex;
  background-color: white;
  border: 1px solid #033f4d;
  border-radius: 5px;
}

.firstbtn{
  background-color: #055b6e !important;
  color: white;
}

.firstbtn:hover{
  background-color: #033f4d !important;
  color: white;
}


.button-collection{
  display: flex;
  justify-content:space-between;
}

.button-collection > button{
  background-color: white;
  border: 1px solid #033f4d;
  border-radius: 5px;
  cursor: pointer;
}

.button-collection > button:hover{
  background-color: #033f4d;
  color: white;
}

.Profile-container > button:hover{
    background-color: rgb(250, 249, 249);
    background-color: #033f4d;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .enrollment-card{
    height:min-content;
  }

  .enrollment-card-link{
    font-size: 1rem;
    text-align: left;
  }

  .enrollment-card-link >  h4 , .enrollment-card-link > p{
    padding: 5px 0px;
  } 

  .enrollment-card-link > button{
      cursor: pointer;
      display: flex;
      justify-content: start;
      padding: 2px;
      background-color: white;
      border: 1px solid #025467;
      border-radius: 3px;
      font-size: 0.8rem;
  }

  .enrollment-card-link > button:hover{
    background-color: #025467;
    color: white;
  }

  .review-form{
    margin-top: 20px;
    box-sizing: border-box;
    background-color: white;
    height: auto;
  }

  .review-form > label > select{
    cursor: pointer;
  }

  .review-form > button{
    background-color: #025467;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .enrollment-courses-page > h2{
    text-align: center;
    padding: 30px 0px;
    background-color:#033f4d;
    color: white;
    font-size: 1.2;
  }